<h1>Books</h1>

<% if params[:action] == "index" || params[:action] == "search_checked_in" %>
<%= form_tag [ :search_checked_in, :books ], :method => :get, :style => "text-align : right" do%>
<%= text_field_tag "query", params[:query] %>
<%= submit_tag "検索" %>
<% end %>
<% else %>
<%= form_tag [ :search_checked_out, :books ], :method => :get, :style => "text-align : right" do%>
<%= text_field_tag "query", params[:query] %>
<%= submit_tag "検索" %>
<% end %>
<% end %>

<%= render "categories" if Category.all.present? %>

<ul class="navigation">
  <% if params[:action] == "index" || params[:action] == "search_checked_in" %>
  <li class="selected">在庫リスト</li>
  <% else %>
  <li><%= link_to "在庫", :books %></li>
  <% end %>
  <% if params[:action] == "checked_out" || params[:action] == "search_checked_out" %>
  <li class="selected">貸し出し中リスト</li>
  <% else %>
  <li><%= link_to "貸し出し中", [ :checked_out, :books ] %></li>
  <% end %>
</ul>

<table class="books">
  <col class="title" />
  <col class="authors" />
  <col class="publish_year" />
  <% @books.each do |book| %>
  <tr>
    <td>
      <%= link_to(book.title, book) %>
    </td>
    <td>
      <%= book.authors %>
    </td>
    <td>
      <%= book.publish_year %>
    </td>
    <td>
      <%= links_for(book) %>
    </td>
  </tr>
  <% end %>
</table>

<p>
  <%= will_paginate(@books, :previous_label => '前', :next_label => '後',
  :inner_window => 2, :outer_window => 2) %>
</p>

<p>
  <%= link_to "本の新規登録", [ :new, :book ] %>
</p>


