<h1><%= @book.title %></h1>

<div><%= @book.authors %>, <%= @book.publish_year %></div>

<% if @book.category %>
<div id="book_category" style="color: <%= @book.category.color %>"><%= @book.category.name %></div>
<% end %>

<div id="book_comment"><%= simple_format(@book.comment) %></div>

<%= link_to "Go back to list", :books %>
